
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 32, 0.8);
    z-index: 1200;
  }
  
  .Modal {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
  }
  
  .btn{
    position: absolute;
    top: 30px;
    right: 20px;
    width:50px;
    height:50px;
    cursor: pointer;
    border-radius: 50%;
  }
  .btn:hover{
    background-color: rgb(171, 177, 177);
  }
  .span{
    position: relative;
    font-size: 50px;
    top: -10px;
    color: red;
  }